<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 hidden-print">
    <div class="container">
        <a class="navbar-brand" href="/index.html"><img src="/favicon.svg" alt="{{site.title}} Logo" class="navbar-logo" /> Noah Marcuse</a>
        <ul class="nav navbar-nav">
            <li class="nav-item{% if page.url == '/' or page.url == '/index.html' %} active{% endif %}"><a class="nav-link" href="/index.html">Artwork <span class="sr-only">(current)</span></a></li>
            <li class="nav-item{% if page.url == '/support/faq.html' or page.url == '/support/faq' %} active{% endif %}"><a class="nav-link" href="/support/faq.html">FAQ</a></li>
            <li class="nav-item{% if page.url == '/support/contact.html' or page.url == '/support/contact' %} active{% endif %}"><a class="nav-link" href="/support/contact.html">Contact</a></li>
            <!--
            <li class="nav-item{% if page.url == '/search.html' or page.url == '/search' %} active{% endif %}"><a class="nav-link" href="/search.html"><i class="fa fa-search"></i></a></li>
            -->
        </ul>
    </div>
</nav>
