<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ site.title }} - {{ page.title }}</title>
	{% if page.url == '/index.html'%}{% include meta-home.html %}{% endif %}
{% include meta.html %}
</head>
<body>
{% include navbar.html %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				{% if page.notitle %}{% else %}<h1>{% if page.h1 %}{{ page.h1 }}{% else %}{{ page.title }}{% endif %}{% if page.subtitle %} <small> - {{ page.subtitle }}</small>{% endif %}</h1>{% endif %}
			</div><!--/col-->
		</div><!--/row-->

        {% if page.fullsize %}
        <div class="row">
            <div class="col-md-8">
                <a href="{{page.fullsize}}" data-toggle="lightbox">
                    <img class="img-fluid thumb-image" src="{{page.fullsize}}" alt="" style="max-height: 80vh;">
                </a>
            </div>

            <div class="col-md-4">
                <h3 class="my-3">Project Description</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
                <h3 class="my-3">Project Details</h3>
                <ul>
                    <li>Lorem Ipsum</li>
                    <li>Dolor Sit Amet</li>
                    <li>Consectetur</li>
                    <li>Adipiscing Elit</li>
                </ul>
            </div>
        </div>
        <script>
            $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
        </script>
        {% endif %}

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                {{ content }}
            </div><!--/col-->
        </div><!--/row-->
		<hr>
		{% include footer.html %}
	</div><!--/container-->
{% include google-analytics.html %}
</body>
</html>
